<div class="main">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h1>Sign Up</h1>
          <form #form="ngForm" (ngSubmit)="registerUser(form)">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="uui-form-element form-control"
                name="name"
                id="name"
                placeholder="Your Name"
                [(ngModel)]="registerUserDetails.name"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="uui-form-element form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                [(ngModel)]="registerUserDetails.email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="uui-form-element form-control"
                name="password"
                id="password"
                placeholder="Password"
                [(ngModel)]="registerUserDetails.password"
              />
            </div>
            <div class="form-group">
              <label for="email">Repeat Password</label>
              <input
                type="password"
                class="uui-form-element form-control"
                name="repeat_password"
                id="repeat_password"
                placeholder="Repeat Password"
                ngModel
              />
            </div>
            <div class="uui-checkboxform-group">
              <input
                type="checkbox"
                name="agree-term"
                id="agree-term"
                class="agree-term mr-4"
              />
              <label for="agree-term" class="label-agree-term"
                >I agree all statements in
                <a href="#" class="term-service">Terms of service</a></label
              >
            </div>
            <div class="form-group">
              <input
                type="submit"
                name="signup"
                id="signup"
                class="uui-button blue"
                value="Register"
              />
            </div>
          </form>
        </div>
        <div class="signup-image">
          <figure>
            <img src="assets/images/illus1.svg" alt="sing up image" />
          </figure>
          <h5>
            <a [routerLink]="['/auth', 'login']" class="uui-lowercase-text"
              >Already have account</a
            >
          </h5>
        </div>
      </div>
    </div>
  </section>
</div>
